* {
  margin: 0;
  padding: 0;
  zoom: 0%;
}
.header {
  display: flex;
  width: 375px;
  height: 48px;
  box-sizing: border-box;
  padding: 4px 24px 4px 12px;
  align-items: flex-start;
  gap: 199px;
}

.mylogo {
  display: flex;
  padding: 10px 12px;
  align-items: center;
  color: var(--primary-b-400, #6070ff);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.menu_icon {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  width: 24px;
  height: 24px;
}

.headline {
  display: inline-flex;
  padding: 114px 24px;
  flex-direction: column;
  gap: 12px;
  background-image: url(./header-shapes\ mobile@2x.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.primaryText {
  display: flex;
  width: 327px;
  height: 150px;
  flex-direction: column;
  justify-content: center;
  color: var(--neutrals-n-800, #172b4d);
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.primary2 {
  width: 327px;
  height: 146px;
  color: var(--neutrals-n-600, #344563);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.connect {
  color: var(--primary-b-300, #7f8cff);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.social {
  width: 170.167px;
  height: 20px;
}
.works{
  display: grid;
  grid-template-rows: 697px 697px 697px 697px;
}
.card{
  width: Hug (327px);
  height: Hug (552px);
  padding: 16px;
  border-radius: 16px;
  border: 1px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image1{
  width: 295px;
  height: 220px;
  border-radius: 8px;
}
.primarytext3{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 12px;
width: Hug (295px);
height: Hug (80px);
}
.projectTitle{
  width: 295px;
  height: 36px;
  font-family: 'Poppins';
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: #172B4D;
}
.frame2{
  width: Hug (236px);
  height: Hug (32px);
  gap: 12px;
  display: flex;
  align-items: center;
}
.client{
  width: Hug (55px);
  height: Hug (32px);
  padding: 8px, 0px, 8px, 0px;
  display: flex;
  align-items: center;
  color: #344563;
  styleName: Caption / 1 - Bolder;
  font-family: 'Poppins';
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.counter{
  width: 8px;
height: 18px;
color: #C1C7D0;
}
.role{

  display: flex;
  padding: 8px, 0px, 8px, 0px;
  align-items: center;
  color: var(--neutrals-n-100, #7A869A);
  font-family: 'Poppins';
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  width: 90px;
  height: 16px;
}
.yearlabel{
  width: Hug (29px);
  height: Hug (32px);
  padding: 8px, 0px, 8px, 0px;
  display: flex;
  align-items: center;
  color: var(--neutrals-n-100, #7A869A);
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  width: 29px;
  height: 16px;
}
